# 文件以及目录过滤
# 过滤library目录
RenderOrderAndUIMask/Library/
# 过滤.vs目录
RenderOrderAndUIMask/.vs/
# 过滤Temp目录
RenderOrderAndUIMask/Temp/
# 过滤obj目录
RenderOrderAndUIMask/obj/
# 过滤Log目录
RenderOrderAndUIMask/Logs/
# 过滤UI自动生成代码目录
RenderOrderAndUIMask/UICodeAutogenerate
